
body{ background-color: pink;}


body *{
    display: inline-block;
    position: relative; 
}
 

.card{
    width: 10rem;
    height: 15rem;
    background-color:blue;
    background-image: url(mine.svg);
    background-size: 1300%;
    background-repeat: no-repeat;
}